ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #470808;
}
#council-title{
    float: left;
    font-size: 30px;
    color: antiquewhite;
    margin: 5px 0px 0px 15px;
    width: auto;
}

li {
    float: right;
    width: auto;
    display: flex;
    justify-content: flex-end;

  }
  
li a {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #000080;
}

#sign-up{
    border: solid 5px blanchedalmond;
    margin: auto;
    width: 40%;
    padding: 10px;
    justify-content: center;
}
.reg{
    align-items: center;
}
/* 
#sign-up {
    border: none solid ;
    padding: 100px 100px;
    justify-content: center;
    max-width: 9000px;
    max-height: 90px;
    border-radius: 20px;
    box-shadow: rgba(15, 19, 66, 0.4) 0px 2px 4px, rgba(8, 56, 17, 0.3) 0px 7px 13px -3px, #370b0b33 0px -3px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;

} */
