* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,
    0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: scale 25s;
}

@keyframes scale {
    0% {
     transform: scale(1.3);
    }
    100% {
     transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 20%;
    left: 10%;
}

.banner h1 {
    font-family: "Ballo Da 2", serif;
    font-size: 6rem;
    font-weight: 300;
    color: white;
    width: 50%;
    line-height: 9rem;
    letter-spacing: 0.2rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
}

.banner p {
    font-family: 'Josefin Slab';
    font-size: 3rem;
    color: #fff;
    width: 70%;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
}

.banner button {
    width: 25rem;
    height: 7rem;
    background-color: #c29525;
    border: none;
    font-family: 'Muli', serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.2);
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
    cursor: pointer;
}



/* NAVBAR CSS START */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    font-size: 4rem;
    color: black;
    text-align: center;
    padding: 40px 24px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(205, 205, 205);
  }
/* NAVBAR CSS END */
